/* declearing some variables  */
:root {
  --primary-color: #3382e9;
  --primary-color-light: #6daffa;
  --primary-color-dark: #051c77;
  --secondary-color-light: #ffb900;
  --secondary-color-dark: #ff7730;
  --color-white: #fff;
  --color-black: #000;
  --color-gray-light: #f7f7f7;
  --color-gray-dark: #777;
  --color-gray-light-2: #eee;

  /* these are variable for the gride system */
  --grid-width: 114rem;
  --gutter-vertical: 6rem;
  --gutter-horizontal: 2rem;
}

/* setting the root font size in order to change the px unites in to rem unites */
html {
  /* 1rem unit = 16px I used 10 px for for most of the items used in this documents for 
  for that reson I had to convert the px to rem by diving 10/16=.625% */
  font-size: 62.5%;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  padding: 0 0.8rem;
}

body {
  font-family: "Dosis", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: var(--color-gray-dark);
}
.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      var(--primary-color),
      rgba(1, 22, 104, 0.22)
    ),
    url(/media/img.jpg);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  position: relative;
}
.logo-box {
  position: absolute;
  top: 0px;
  left: 2rem;
}
.logo {
  height: 12rem;
  width: 30rem;
}
.buttons {
  position: absolute;
  top: 4rem;
  right: 0px;
}
a:link {
  text-decoration: none;
}
li {
  list-style: none;
  /* display: inline-block; */
}
/* styling the tiles on the page */
.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.heading-primary {
  color: var(--color-white);
  text-transform: uppercase;
  margin-bottom: 5rem;
}
.heading-primary-main {
  display: block;
  font-size: 6rem;
  font-weight: 600;
  letter-spacing: 1rem;
}
.heading-primary-sub {
  display: block;
  font-size: 4rem;
  font-weight: 500;
  letter-spacing: 0.5rem;
}
/* styling the button on the middle of the page */
.btn:link,
.btn:visited {
  text-transform: uppercase;
  font-size: 2rem;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 5rem;
  transition: all 0.2s ease;
}
.btn-white {
  background-color: var(--color-white);
  color: var(--primary-color-dark);
  font-weight: 700;
}

.btn-white-small {
  background-color: var(--color-white);
  color: var(--primary-color-dark);
  font-weight: 500;
  height: 3rem;
  width: 10rem;
  border-radius: 3px;
  text-transform: uppercase;
  float: right;
  position: absolute;
  top: 3rem;
  right: 4rem;
}
.btn:hover {
  transform: translateY(-3px);
}
.btn:active {
  transform: translateY(0px);
}

.btn--blue,
.btn--blue:active,
.btn--blue:visited {
  background-color: var(--primary-color);
  color: var(--primary-color-dark);
  text-transform: uppercase;
  font-weight: 500;
  height: 3rem;
  width: 12rem;
  cursor: pointer;
  margin: 0 auto;
}
/* styling the register and sign in buttons */

.btn-text:link,
.btn-text:visited {
  font-size: 1.6rem;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid var(--primary-color);
  padding: 0 1rem;
  border: 1px solid var(--color-black);
  border-radius: 2rem;
  background-color: var(--color-gray-light);
  transition: all 0.2s;
  color: var(--primary-color-dark);
  font-weight: 700;
}

.btn-text:hover {
  background-color: var(--primary-color);
  color: var(--color-white);
  box-shadow: 0 10px 2rem rgba(var(--color-black), 0.15);
}

/* this is to format the heading which is below the picture */
.heading-secondary {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(
    to right,
    var(--primary-color, var(--primary-color-light))
  );
  color: var(--primary-color);
  letter-spacing: 2px;
  transition: all 0.2s;
}
.u-center-text {
  text-align: center;
}
main {
  margin: 0;
  padding: 0;
}
.section-about {
  background-color: #f7f7f7;
  padding-top: 15rem;
  margin-top: -25vh;
  margin-left: 0;
}
/* this class is to give extra maring at the bottom of elements */
.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

/* creating the grid system for the cards  */
.row {
  max-width: var(--grid-width);
  margin: 0 auto;
}
/* this is to remove the extra margin for the bottom of the page */
.row:not(:last-child) {
  margin-bottom: var(--gutter-vertical);
}
/* this is to clear row */
.row::after {
  content: "";
  display: table;
  clear: both;
}
/* the sign ^= selects all the classes which starts with cal- */
.row [class^="col-"] {
  float: left;
}
.row [class^="col-"]:not(:last-child) {
  margin-right: var(--gutter-horizontal);
}
.row .col-1-of-2 {
  width: calc((100% - var(--gutter-horizontal)) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * var(--gutter-horizontal)) / 3);
}
.row .col-2-of-3 {
  width: calc(
    2 * ((100% - 2 * var(--gutter-horizontal)) / 3) + var(--gutter-horizontal)
  );
}
.row .col-1-of-4 {
  width: calc((100% - 4 * var(--gutter-horizontal)) / 4);
}
.row .col-2-of-4 {
  width: calc(
    2 * ((100% - 3 * var(--gutter-horizontal)) / 4) + var(--gutter-horizontal)
  );
}
.row .col-3-of-4 {
  width: calc(
    3 * ((100% - 3 * var(--gutter-horizontal)) / 4) + 2 *
      var(--gutter-horizontal)
  );
}
/* sytling the card starts from here */
.card {
  position: relative;
  height: 43rem;
}
/* front side of the card how it looks  */
.card__side {
  height: 43rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.8);
}
/* card setting of the pictures */
.card__picture {
  margin-top: 1rem;
  background-size: cover;
  height: 22rem;
  background-blend-mode: screen;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
/* card pictures to change */
.card__picture--1 {
  background-image: url(/media/coffee.jpg);
}
.card__picture--2 {
  background-image: url(/media/cake.jpg);
}
.card__picture--3 {
  background-image: url(/media/tea.jpg);
}
.card__picture--4 {
  background-image: url(/media/sandwich.jpg);
}

.card__heading {
  font-size: 2.5rem;
  font-weight: 200;
  text-transform: uppercase;
  position: absolute;
  color: var(--color-white);
  top: 19.5rem;
  right: 1rem;
  width: 70%;
  border-radius: 3px;
  background-color: var(--primary-color);
  text-align: center;
}

.card__heading-span {
  padding: 5rem 1.5rem;
  box-decoration-break: clone;
}
/* styling the card detials */
.card__details {
  padding: 0rem;
}
.card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}
.card__details li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}
.card__details ul li:not(:last-child) {
  border-bottom: 1px solid var(--color-gray-dark);
}
.card:hover {
  transform: translateY(-1.5rem) scale(1.03);
  transition: all 2s ease;
}
/* styling the footer section */
footer {
  background-color: var(--color-black);
  height: 10rem;
  color: var(--color-white);
  text-align: center;
}
.social-media {
  text-align: left;
  font-size: 1.8rem;
  padding-top: 4rem;
  text-transform: uppercase;
}
.contact {
  text-align: right;
  font-size: 1.8rem;
  text-transform: uppercase;
}
/* styling the registration pop up  */
.register__popup {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 400;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.register__popup__content {
  width: 50%;
  height: 60%;
  background-color: var(--color-white);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
  text-align: center;
}
.register__popup:target {
  opacity: 1;
  visibility: visible;
}

.register__popup_close {
  position: absolute;
  top: 0;
  right: 3rem;
  font-size: 3rem;
  padding: 0;
  margin: 0;
}

/* styling the sign in pop up  */
.signin__popup {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 400;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.signin__popup__content {
  width: 60%;
  height: 50%;
  background-color: var(--color-white);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
  text-align: center;
}
.signin__popup:target {
  opacity: 1;
  visibility: visible;
}

.signin__popup_close {
  position: absolute;
  top: 0;
  right: 3rem;
  font-size: 3rem;
  padding: 0;
  margin: 0;
}
/* styling the Admin  pop up  */
.admin__popup {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 400;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.admin__popup__content {
  width: 60%;
  height: 50%;
  background-color: var(--color-white);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
  text-align: center;
}
.admin__popup:target {
  opacity: 1;
  visibility: visible;
}

.admin__popup_close {
  position: absolute;
  top: 0;
  right: 3rem;
  font-size: 3rem;
  padding: 0;
  margin: 0;
}

/* styling the staff pop up  */
.staff__popup {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 400;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.staff__popup__content {
  width: 60%;
  height: 50%;
  background-color: var(--color-white);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
  text-align: center;
}
.staff__popup:target {
  opacity: 1;
  visibility: visible;
}

.staff__popup_close {
  position: absolute;
  top: 0;
  right: 3rem;
  font-size: 3rem;
  padding: 0;
  margin: 0;
}
/* styling the register form */
.form {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
}
.form__group:not(:last-child) {
  padding-bottom: 2rem;
}
.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  width: 90%;
  padding: 0.5rem 1rem;
  border-radius: 2px;
  border: none;
  border-bottom: 1px solid transparent;
  display: block;
  transition: all 0.3s;
  background-color: var(--color-gray-light);
}

.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid var(--primary-color);
}
.form__input:focus:invalid {
  border-bottom: 3px solid var(--secondary-color-dark);
}
.form__label {
  display: none;
}

/* styling the customer view page starts from here */
.customer__header {
  position: relative;
  background-image: linear-gradient(
    to right,
    var(--primary-color),
    var(--primary-color-light)
  );
  height: 10rem;
  width: 100%;
  color: var(--color-white);
}
